@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: blanchedalmond !important;
  font-family: 'Fredoka One', cursive;
}

h1, h2{
  color: darkslategrey;
  font-weight: 500;
  font-size: 2rem;
  font-family: 'Fredoka One', cursive;
}

p{
  font-weight: 400;
  font-size: 1rem;
  color: darkslategrey;
  opacity: 85%;
  line-height: 35px;
}

a{
  text-decoration: none;
  color: unset;
}

a:hover{
  color: unset;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

section, 
footer{
  padding: 60px 0px;
}